<div class="col-sm-4">
    <div class="beer-card text-center">
        <div>
            <img class="beer-img-top" src={{image_url}} alt="beer" /></div>
        <div class="card-body">
            <a href="/beers/{{id}}" class="beer-name">
                <h5 class="card-title">{{name}}</h5>
            </a>
            <h6>{{tagline}}</h6>
            <p class="card-text">{{description}}</p>
        </div>
    </div>
</div>